@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #3cd4d4;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: top center;
}

::selection {
    color: #fff;
    background: #43AFFC;
}

.wrapper {
    width: 400px;
    background: rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: 7px 7px 20px rgba(226, 8, 8, 0.05);
}

.wrapper header {
    display: flex;
    font-size: 21px;
    font-weight: 500;
    color: #43AFFC;
    padding: 16px 15px;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

header i {
    font-size: 0em;
    cursor: pointer;
    margin-right: 8px;
}

.wrapper.active header i {
    margin-left: 5px;
    font-size: 30px;
}

.wrapper .input-part {
    margin: 20px 25px 30px;
}

.wrapper.active .input-part {
    display: none;
}

.input-part .info-txt {
    display: none;
    font-size: 17px;
    text-align: center;
    padding: 12px 10px;
    border-radius: 7px;
    margin-bottom: 15px;
}

.input-part .info-txt.error {
    color: #721c24;
    display: block;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

.input-part .info-txt.pending {
    color: #0c5460;
    display: block;
    background: #d1ecf1;
    border: 1px solid #bee5eb;
}

.input-part :where(input,
button) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 7px;
}

.input-part input {
    text-align: center;
    padding: 0 15px;
    border: 1px solid #ccc;
}

.input-part input:is(:focus,
 :valid) {
    border: 2px solid #43AFFC;
}

.input-part input::placeholder {
    color: #bfbfbf;
}

.input-part .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #ccc;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator::before {
    content: "or";
    color: #b3b3b3;
    font-size: 19px;
    padding: 0 15px;
    background: #fff;
}

.input-part button {
    color: #fff;
    cursor: pointer;
    background: #43AFFC;
    transition: 0.3s ease;
}

.input-part button:hover {
    background: #1d9ffc;
}

.wrapper .weather-part {
    display: none;
    margin: 30px 0 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper.active .weather-part {
    display: flex;
}

.weather-part img {
    max-width: 125px;
}

.weather-part .temp {
    display: flex;
    font-weight: 500;
    font-size: 72px;
}

.weather-part .temp .numb {
    font-weight: 600;
}

.weather-part .temp .deg {
    font-size: 40px;
    display: block;
    margin: 10px 5px 0 0;
}

.weather-part .weather {
    font-size: 21px;
    text-align: center;
    margin: -5px 20px 15px;
}

.weather-part .location {
    display: flex;
    font-size: 19px;
    padding: 0 20px;
    text-align: center;
    margin-bottom: 30px;
    align-items: flex-start;
}

.location i {
    font-size: 22px;
    margin: 4px 5px 0 0;
}

.weather-part .bottom-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid #ccc;
}

.bottom-details .column {
    display: flex;
    width: 100%;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
}

.column i {
    color: #5DBBFF;
    font-size: 40px;
}

.column.humidity {
    border-left: 1px solid #ccc;
}

.column .details {
    margin-left: 3px;
}

.details .temp,
.humidity span {
    font-size: 18px;
    font-weight: 500;
    margin-top: -3px;
}

.details .temp .deg {
    margin: 0;
    font-size: 17px;
    padding: 0 2px 0 1px;
}

.column .details p {
    font-size: 14px;
    margin-top: -6px;
}

.humidity i {
    font-size: 37px;
}

#footer {
    background: #263f49;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-top: -90px;
    margin-bottom: 15px;
    background: white;
    color: #2f4d5a;
    border-top: 4px solid #67b0d1;
    text-align: center;
    padding: 30px 20px;
}

#footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #2f4d5a;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #67b0d1;
    color: #fff;
    text-decoration: none;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #b5d9e9;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: #a2cfe3;
}

#footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4;
}

#footer .footer-top .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #67b0d1;
    color: #fff;
    transition: 0.3s;
    border-radius: 4;
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
    background: #409cc5;
}

#footer .copyright {
    border-top: 1px solid #385b6b;
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

@media (max-width: 575px) {
    #footer .footer-top .footer-info {
        margin: -20px 0 30px 0;
    }
}